.project-nav-item {
	width: 80%;
	height: 20px;
	display: flex;
}

.project-nav-title {
	flex-basis: 78px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.icon-container {
	display: flex;
	height: 100%;
}

.icon {
	height: 100%;
}
