body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0px;
}

body * {
	box-sizing: border-box;
	margin: 0px;
}

#content {
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	height: 10%;
	background-color: red;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.232);
}

main {
	display: flex;

	width: 100%;
	height: 90%;

	h2 {
		margin-top: 10px;
		text-align: center;
	}

	nav {
		display: flex;
		flex-direction: column;

		width: 20%;
		height: 100%;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.232);
	}

	section {
		display: flex;
		flex-direction: column;

		width: 80%;
		height: 100%;

		.todo {
			display: flex;
			border: solid black 4px;
			padding: 5px;
			margin: 5px;
			gap: 10px;

			.check-bubble {
				border: solid black 2px;
				border-radius: 50%;
			}
		}
	}
}

form {
	padding: 20px;
	border: solid black 4px;
	background-color: antiquewhite;
	position: absolute;
	top: 20%;
	left: 20%;
}
